body
{
    color: rgb(102, 102, 102);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera

{
    background: #33A;
    color: white;
    margin: 0;
    padding: 0.5cm;
}

#container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;

}

#container h1
{
    font-size: 20px;

}